@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

$palette1: #033249;
$palette2: #5e8a75;
$palette3: #c4b5a0;
$palette4: #e9e6e1;
$palette5: #f7f7f7;